<launch>

  <arg name="id" default="my_robot" />
  <arg name="password" default="my_password" />

  <include file="$(find oros_tools)/launch/default.launch">
    <arg name="id" value="$(arg id)" />
    <arg name="password" value="$(arg password)" />
  </include>

  <include file="$(find turtlebot_stage)/launch/turtlebot_in_stage.launch" />

</launch>
